{% extends 'base.html' %}


{% block content %}
	<!--<div class="row justify-content-center">
	  <div class="col-lg-4 col-md-6 col-sm-8">
        !-->
	    <div class="card">
	      <div class="card-body">
	  	 <h2 class="card-title family-font">Login</h2>
           	 <form  method="POST" action="{{ url_for('login') }}">
		   {{ form.hidden_tag() }}
		   {% if error %}
		      <p style="color: red"><strong>Error:</strong>{{error}}</p>

  		   {% endif %}
    		   <p>{{ form.username.label}}<br> 
	           {{form.username}} 

		   {% for error in form.username.errors %} 
		       <br><small style="color: red">{{error}}</small> 
		   {% endfor %}</p>

		   <p>{{form.password1.label}}<br>
	           {{form.password1}}

		   {% for error in form.password1.errors %} 
		       <br><small style="color: red">{{error}}</small> 
		   {% endfor %}</p>

    		   <p>{{form.login}}</p>
                 </form>
	     </div>
             <div class="card-footer text-muted text-center" style="color: blue">
               Haven't got an account? <a href="{{ url_for('signup') }}">SignUp</a>
             </div>
	  </div>
<!--
	</div>
     </div>
!-->
{% endblock %}


{% block foot %}
 <p>TampaBay LaunchCode 2017</p>
{% endblock %}

